@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #1B48C5;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: Fredoka One, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.result-container {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    padding-bottom: 0px;
}

.player, .opponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 320px;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 320px;
    text-align: center;
}

.RPS-container {
    display: flex;
    justify-content: center;
    padding: 50px;
    padding-top: 0px;
    padding-bottom: 20px;
}

.reset-container {
    display: flex;
    justify-content: center;
}

p {
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
}

#result-message {
    font-size: 40px;
}

#rock, #paper, #scissors {
    margin: 10px;
    width: 100px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    background-color: #FFD000;
}

#reset {
    width: 100px;
    height: 25px;
    font-size: 15px;
    font-weight: bold;
    background-color: #FFC9C9;
}
